.w-20
{
  width: 20%;
}
.w-30
{
  width: 30%;
}
.logo-text
{
  width: 100px;
}
.bi
{
  margin-right: 10px;
}
.story
{
  height: 80px ;
  padding: 10px;
}
.sidebar
{
  cursor: pointer;
}
.dp
{
  height: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.dp1
{
  height: 40px;
  width: 40px;
}
.Profilename
{
  position: relative;
  top: 5px;
  left: 10px;
}
.profilenamepicture
{
cursor: pointer;
}
.image
{
  width: 300px;
}
.suggestions h5
{
 font-size: 16px;
 
}
.suggestions .dp
{
  margin-top: 0px !important;
}
.suggestionlist
{
cursor: pointer;
}
.story-dp
{
  width: 40px;
}
.gradient {
  width: 44px;
  height: 44px;
  border-radius: 50%;
 /* Space for the gradient border */
  background: linear-gradient(45deg,#ff00ff,#ff6600,#ffcc00);
  display: flex;
  align-items: center;
  justify-content: center;
}
.storyview
{
  justify-content: center;
  
}
.profilepicture
{
  width: 100px;
  height: 100px;
}
